* {

	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

li {

	list-style: none;
	display:inline-block;
}

a {
	text-decoration: none;
	transitions: all 500ms ease-in-out;

}

a:hover,
a:active {

	text-decoration: none;
}

h1,
h2,
h4 {
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	front-weight: 700;
}

p {
	font-size:15px;
	line-height:21px;
}

.btn {

	transition: all 300ms ease-in-out;
	font-weight: 500 !important;
	text-transform: uppercase;
}

.btn:hover {

	background-color: #ededed !important;
	color: #3c3c3c !important;
	border: 1pc solid #fff !important;
}



/*Navigation*/

.navbar {
	background-color: #ff3030 !important;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700;
	text-align: ce;
}

.navbar ul {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar a {

	color: #111111 !important;
	opacity: 0.7;
	text-align: center;
}

.navbar a:hover{

	opacity: 1;
	background-color: #fff !important;
}

.navbar-nav > li > a {
   line-height: 30px;
}

/*main container*/
.container{
	background-color: #fff !important;
}

.container-fluid{
		text-align: center;
}

.h1 {
	text-align: center;
}

/*video*/

.centre {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	display: block;
}
 /*audio player*/

 .audio {
 	display: block;
 	text-align: right;
 }


/*discography carosel*/
.bs-example, .new-caption-area {
    width: 600px;
    margin: auto;
    color: #000;
  }
  
  .carousel-caption {
	color: #000;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
/*form*/

    
    form {
        width: 450px;
        border: 1px solid #999;
        border-radius: 20px;
        clear: both;
        padding: 20px;
        margin-bottom: 100px;
        background-color: rgba(129, 187, 201, .2);
    }
    fieldset {
        margin-bottom: 5px;
        border: none;
    }
    form h1 {
        font-size: 30px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #999;
        padding: 4px 15px;
        width: 250px;
    }
    
    .field {
        padding: 6px 8px;
    }
    
    label.field,
    legend {
        display: block;
        text-align: left;
        width: 100px;
        float: left;
        clear: both;
    }
    
    input {
        width: 200px;
        border-radius: 5px;
        padding: 6px 8px;
    }
    
    #checkbox {
        padding: 6px 8px;
    }
    #checkbox input {
        width: 25px;
        margin-top: 20px;
    }

    #submit {
        width: 100%;}







